
<div class="l-container u-clear">
  <!--start l-main-->
  <main class="l-main js-main">
    <div class="l-main-block"></div>


<div class="container">
  <div class="col-md-3">
  </div>

  <div class="col-md-6">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html:{class:"form"}) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">

      <center>
        <label for="form-title" class="form-title">Be the LIG Bligger and Earn For your Post</label>
      </center>

      <label for="user-id" class="form-title">USER ID</label>
      <%= f.input_field :username,
                  required: false,
                  autofocus: true,
                  id: "user-id",
                  class: "input input-text",
                  input_html: { autocomplete: "username" } %>

      <label for="user-id" class="form-title">EMAIL</label>
      <%= f.input_field :email,
                  required: false,
                  autofocus: true,
                  id: "user-id",
                  class: "input input-text",
                  input_html: { autocomplete: "email" } %>


      <label for="contents" class="form-title">Are you a?</label>
     <%= f.select :user_type, ["glorifier","influencer"], selected: "glorifier" %>

      <label for="password" class="form-title">PASSWORD</label>
      <%= f.input_field :password,
                  required: false,
                  id: "password",
                  class: "input input-text",
                  input_html: { autocomplete: "current-password" },
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>

      <label for="password-confirmation" class="form-title">PASSWORD CONFIRMATION</label>
      <%= f.input_field :password_confirmation,
                  required: false,
                  id: "password-confirmation",
                  class: "input input-text",
                  input_html: { autocomplete: "current-password" } %>
      </div>


        <label for="submit" class="form-button">
          <div class="button">
            <p class="button-text">SIGN UP</p>
          </div>
        </label>

        <input type="submit" id="submit" class="input input-submit">

    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>

  </main>
  <!--end l-main-->
</div>
<!--end l-contents-->

