<!--start header-->
<header class="l-header js-header">
  <div class="l-header-top u-clear">

    <div class="l-header-logo">
     <%= link_to root_path do %>
       <div class="logo">
         <%= image_tag(asset_path('logo.png'), alt:'BLOG', width: '253px;', height: '28') %>
       </div>
     <% end %>
    </div>

    <div class="l-header-hamburger">
      <a href="#" class="hamburger js-hamburger " >
        <span class="hamburger-item"></span>
        <span class="hamburger-item"></span>
        <span class="hamburger-item"></span>
      </a>
    </div>

  </div>
</header>
<!--end header-->
