<nav class="nav js-nav">
  <ul class="nav-list">
    <li class="nav-item">
      <%= link_to "TOP", posts_path, class:"nav-link" %>
    </li>

    <li class="nav-item">
      <%= link_to "Login", user_session_path, class:"nav-link" %>
    </li>

    <li class="nav-item">
      <%= link_to "Register", new_user_registration_path, class:"nav-link" %>
      <hr />
    </li>

    <li class="nav-item">
      <%= link_to "Facebook", "https://www.facebook.com/", target: "blank", class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Twitter", "https://twitter.com/", target: "blank", class:"nav-link" %>
    </li>

  </ul>
</nav>
