<!--start l-contents-->
<div class="l-container u-clear">
  <!--start l-main-->
  <main class="l-main js-main">
    <div class="l-main-block"></div>

    <h2>
      <br />
      Total Paid Amount: <%= @paid_amount %>
      <br />
      Available Amount : <%= @available_amount %>
    </h2>

    <button type="submit" class="btn btn-primary btn-lg btn-float"> Request and Glorify my Payout</button>


  </main>
  <!--end l-main-->
</div>
<!--end l-contents-->
