<li class="archive-item">
  <%= link_to post_path(glorify), class:"post-article" do %>
    <time class="post-article-date" datetime="<%= glorify.common_post_date %>">
      <%= glorify.display_post_date %>
      ( Total Glorifies: <%= glorify.glorifies.count %> / Amount : <%= glorify.total_glorified_amount %> )</time>
    <h1 class="post-article-title"><%= glorify.title %></h1>
    <h3 class="">by <%= glorify.user.try(:username) %></h3>
  <% end %>
</li>
