<label for="image" class="form-title">EYE CATCH IMAGE
  <div class="form-file u-clear">
    <div class="file-name-hldr">
    <% if !@post.new_record? %>
      <%= @post.image_name %>
    <% end %>
    </div>
    <span class="form-file-button">UPLOAD</span>
  </div>
</label>

<%= f.file_field :image, id:"image", class:"input input-image image-uploader" %>

<label for="title" class="form-title">TITLE</label>

<div class="form-body">
  <%= f.input_field :title, required: true, autofocus: true, class:"input input-text", id: "title" %>
</div>

<label for="contents" class="form-title">CONTENTS</label>
<div class="form-textarea">
  <%= f.input_field :contents, required: true, autofocus: true, class:"input input-contents", id: "inquiry", cols:"30", rows:"10" %>
</div>

<div class="form-body">
      <label for="contents" class="form-title">Is Published</label>
     <%= f.select :'other_details[is_published]', ["on","off"], selected: (@post.is_published if !@post.new_record?)  %>
</div>

