<li class="archive-item">
  <%= link_to edit_admin_post_path(post), class:"post-article" do %>
    <time class="post-article-date" datetime="<%= post.common_post_date %>"><%= post.display_post_date %> ( <%= post.is_published %> )</time>
    <h1 class="post-article-title"><%= post.title %></h1>
  <% end %>
</li>
