<!--start l-contents-->
<div class="l-container u-clear">
  <!--start l-main-->
  <main class="l-main js-main">
    <div class="l-main-block"></div>
    <%= simple_form_for(@post, url: admin_posts_path, html:{ class:" form "}) do |f| %>

      <%= render 'form', {f: f }  %>

      <%= render partial: '/layouts/shared/flash_message', locals: { obj: @post } %>

      <label for="submit" class="form-button">
        <div class="button">
          <p class="button-text">Submit</p>
        </div>
      </label>
      <input type="submit" id="submit" class="input input-submit">
      <%= link_to admin_posts_path, class:"form-button" do %>
        <div class="button">
          <p class="button-text">Back</p>
        </div>
      <% end %>
    <% end %>
  </main>
  <!--end l-main-->
</div>
<!--end l-contents-->
