<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<%= paginator.render do -%>
  <div class="pagination paginate" role="navigation" aria-label="pager">

    <%= prev_page_tag %>

    <% each_page do |page| -%>
      <% if page.display_tag? -%>
        <%= page_tag page %>
      <% end -%>
    <% end -%>

    <%= next_page_tag %>

  </div>
<% end -%>
