<!--start header-->
<header class="l-header l-header-admin js-header">
  <div class="l-header-top u-clear">
    <div class="l-header-logo">
     <%= link_to root_path, class:"logo" do %>
         <%= image_tag(asset_path('logo-admin.png'), width:'138px;', height:'28', alt:"BLOG") %>
     <% end %>
    </div>
    <div class="l-header-text">
      <p>
        <% if user_signed_in?  %>
          <%= "Welcome #{(current_user.username)} / #{(current_user.user_type).upcase} / "  %>

          <%= link_to "GloryProfit", admin_payments_path if current_user.influencer? %> /

          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else  %>
          Login
        <% end %>
      </p>
    </div>

  </div>
</header>
<!--end header-->
