<!--start l-contents-->
<div class="l-container u-clear">
  <!--start l-main-->
  <main class="l-main js-main">
    <div class="l-main-block"></div>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html:{class:"form"}) do |f| %>
      <label for="user-id" class="form-title">USER ID</label>
      <%= f.input_field :username,
                  required: false,
                  autofocus: true,
                  id: "user-id",
                  class: "input input-text",
                  input_html: { autocomplete: "username" } %>

      <label for="password" class="form-title">PASSWORD</label>
      <%= f.input_field :password,
                  required: false,
                  id: "password",
                  class: "input input-text",
                  input_html: { autocomplete: "current-password" } %>

        <% if flash.now[:alert] %> <br/> <%= "Error" if flash[:alert] %><% end %>

        <label for="submit" class="form-button">
          <div class="button">
            <p class="button-text">Login</p>
          </div>
        </label>

        <input type="submit" id="submit" class="input input-submit">
    <% end %>
  </main>
  <!--end l-main-->
</div>
<!--end l-contents-->

