<li class="archive-item">
  <article class="card">
    <%= link_to post_path(post), class:"card-link" do %>
      <%= (image_tag(asset_path(post.image_url), class:"card-image")) if post.image_url %>
      <div class="card-bottom">
        <h1 class="card-title"><%= post.title %></h1>
        <time class="card-date" datetime="<%= post.common_post_date %>">
          <%= post.display_post_date %>
        </time>
      </div>
    <% end %>
  </article>
</li>
