<!--start l-contents-->
<div class="l-container u-clear">
  <!--start l-main-->
  <main class="l-main js-main">
    <div class="l-main-block"></div>

    <div class="page-number">
      Page <span > <%= "#{@posts.current_page}/#{@posts.total_pages}" %></span>
    </div>

    <div class="archive">
      <ul class="archive-list">
        <%= render partial: "post", collection: @posts %>
      </ul>
    </div>

    <%= paginate @posts %>

    </div>
 </main>
 <!--end l-main-->
</div>
<!--end l-contents-->
