<!--start l-contents-->
<div class="l-container u-clear">

  <!--start l-main-->
  <main class="l-main js-main">
    <div class="l-main-block"></div>
    <div class="archive">
      <ul class="archive-list">
        <%= render partial: "post", collection: @posts %>
      </ul>
    </div>

    <% if has_more_option(@post_count) %>
      <%= link_to archive_posts_path, class:"archive-button" do %>
        <div class="button">
          <p class="button-text">More</p>
        </div>
      <% end %>
    <% end %>

  </main>
  <!--end l-main-->
</div>
<!--end l-contents-->

