<!--start l-main-->
<main class="l-main js-main">
  <div class="l-main-block"></div>
  <div class="single">
    <%= (image_tag(asset_path(@post.image_url), class:"single-image")) if @post.image_url %>
    <div class="l-container u-clear">
      <h1 class="single-title">
        <%= @post.title %>
      </h1>
      <time class="single-date" datetime="<%= @post.common_post_date %>">
        <%= @post.display_post_date %>
      </time>
      <p class="single-desc">
        <%= @post.contents %>
      </p>
      <div class="single-button">
        <%= link_to root_path do %>
          <div class="button">
            <p class="button-text">Top</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
<!--end l-main-->
