<tr class="archive-item">
  <td><time class="post-article-date" datetime="<%= post.common_post_date %>"><%= post.display_post_date %> ( <%= post.is_published %> )</time</td>
  <td><%= post.title %> </td>
  <td><%= link_to edit_admin_post_path(post), class:"post-article" do %>edit<% end %></td>
</tr>
