<li class="archive-item">
  <%= link_to manage_listing_path(listing), class:"post-article" do %>
    <time class="post-article-date" datetime="<%= listing.common_post_date %>">
      <%= listing.display_post_date %>
      ( Total Glorifies: <%= listing.glorifies.count %> / Amount : <%= listing.total_glorified_amount %> )</time>
    <h1 class="post-article-title"><%= listing.title %></h1>
    <h3 class="">by <%= listing.user.try(:username) %></h3>
    <button type="submit" class="btn btn-primary">Glorify ME!</button>

  <% end %>
</li>
