<!--start l-contents-->
<div class="l-container u-clear">
  <!--start l-main-->
  <main class="l-main js-main">
    <div class="l-main-block"></div>

    <%= link_to manage_glorifies_path, class:"l-main-button" do %>
      <div class="button">
        <p class="button-text">View My Glorifies Article</p>
      </div>
    <% end %>

    <ul class="archive archive-admin">
      <%= render partial: "listing", collection: @posts %>
    </ul>

  </main>
  <!--end l-main-->
</div>
<!--end l-contents-->
