<!--start l-main-->
<main class="l-main js-main">
  <div class="l-main-block"></div>
  <div class="single">
    <%= (image_tag(asset_path(@listing.image_url), class:"single-image")) if @listing.image_url %>
    <div class="l-container u-clear">
      <h1 class="single-title">
        <%= @listing.title %>
      </h1>
      <time class="single-date" datetime="<%= @listing.common_post_date %>">
        <%= @listing.display_post_date %>
      </time>
      <p class="single-desc">
        <%= @listing.contents %>
      </p>

      <%= simple_form_for(@glorify, url: manage_charges_path, html:{ class:" form", id: "chargeForm"}) do |f| %>

          <%= hidden_field_tag :influencer_id,  @listing.user_id, class:"input input-text" %>
          <%= f.hidden_field :post_id, value: @listing.id, class:"input input-text" %>
          <label for="contents" class="form-title">Amount</label>
          <%= f.input_field :amount, value: 1, class:"input input-text post-amount" %>

          <script src="https://checkout.stripe.com/checkout.js"></script>

          <%= hidden_field_tag :stripeToken %>
          <%= hidden_field_tag :stripeEmail %>

          <button type="button" id="btn-charge" class="btn btn-primary btn-lg btn-float"> Continue to Glorify ME! Minimum of 1$ only :)</button>

          <script>
            var handler = StripeCheckout.configure({
              key:"<%= Rails.configuration.stripe[:publishable_key] %>",
              token: function(token, arg){
                document.getElementById("stripeToken").value = token.id;
                document.getElementById("stripeEmail").value = token.email;
                document.getElementById("chargeForm").submit();
              }
            });

          document.getElementById("btn-charge").
            addEventListener('click', function(e){
              handler.open({
                name: "<%= @listing.title %>",
                description: "Glorify : <%= @listing.title %> ",
              });
              e.preventDefault();
            })

          </script>


        <%= link_to manage_listings_path, class:"btn-float" do %>
        <button class=" btn btn-primary btn-lg" style="background-color:red;"> Back</button>
        <% end %>
      <% end %>


      <br />
      <br />
      <br />
      <br />
      <br />


    </div>
  </div>
</main>
<!--end l-main-->
